.slider-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: stretch;
  flex-direction: row;
  height: 85%;
  width: 90%;
  margin-left: 0%;
  margin-top: 0%;

}

.slider-item {
  flex-basis: 0%;
  background-color: transparent;
  transition: all 0.65s ease-in-out;
  cursor: pointer;
  margin-right: 2px;

}

.slider-item.selected {
  flex-basis: 100%;
  margin-right: 0;

}

.tasks-background {
  background-image: url('../assets/SVG/tasks-background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects-background {
  background-image: url('../assets/SVG/projects-background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.scrollable-div {
  max-height: 70vh;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollable-div::-webkit-scrollbar {
  width: 5px;
  /* Ancho del scroll */
}

.scrollable-div::-webkit-scrollbar-track {
  background-color: #cad6c550;
  /* Color del track */
}

.scrollable-div::-webkit-scrollbar-thumb {
  background-color: #f1faee;
  /* Color del thumb */
  border-radius: 4px;
  /* Radio de borde del thumb */
}




/* Modificar el color de fondo del modal */
.add-task-modal .ant-modal-content {
  background-color: #f7fcf5 !important;
  border-radius: 1.5vh !important;
  margin-top: 5vh;
  margin-left: 15vh;
  width: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 41vh;
  width: 100vh; */
 

}

.add-task-modal .ant-modal-close-x {
  color: #7fb3b4;
}

.add-task-modal .add-task-button-2:hover {
  background-color: #a8dadb !important;
  color: #f7fcf5 !important;
  /* border: 1px solid #a8dadb !important */
}

/* Modificar el color de fondo del modal */
.add-task-modal-dark .ant-modal-content {
  background-color: #27282c !important;
  border-radius: 1.5vh !important;
  margin-top: 5vh;
  margin-left: 15vh;
  width: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 41vh;
  width: 100vh; */
 

}

.add-task-modal-dark .ant-modal-close-x {
  color: #7fb3b4;
}

.add-task-modal-dark .add-task-button-2:hover {
  background-color: #a8dadb !important;
  color: #f7fcf5 !important;
  /* border: 1px solid #a8dadb !important */
}



/* Modificar el color de fondo del modal */
.task-content .ant-modal-content {
  background-color: #f7fcf5 !important;
  border-radius: 3vh !important;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 41vh;
  width: 100vh; */

}

/* Modificar el color del botón de cierre del modal */
.task-content .ant-modal-close-x {
  color: #a8dadb;
}

.task-content-dark .ant-modal-content {
  background-color: #27282c !important;
  border-radius: 3vh !important;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 41vh;
  width: 100vh; */

}

/* Modificar el color del botón de cierre del modal */
.task-content-dark .ant-modal-close-x {
  color: #a8dadb;
}


.add-task-button-2:hover {
  background-color: #a8dadb !important;
  color: #f7fcf5 !important;
  /* border: 1px solid #a8dadb !important */
}

.scrollable-div-2::-webkit-scrollbar {
  width: 5px;
  /* Ancho del scroll */
}

.scrollable-div-2::-webkit-scrollbar-track {
  background-color: #f7fcf530;
  /* Color del track */
}

.scrollable-div-2::-webkit-scrollbar-thumb {
  background-color: #e2e9df30;
  /* Color del thumb */
  border-radius: 4px;
  /* Radio de borde del thumb */
}

.scrollable-div-::-webkit-scrollbar {
  width: 5px;
  /* Ancho del scroll */
}

.scrollable-div-::-webkit-scrollbar-track {
  background-color: #f7fcf530;
  /* Color del track */
}

.scrollable-div-::-webkit-scrollbar-thumb {
  background-color: #e2e9df30;
  /* Color del thumb */
  border-radius: 4px;
  /* Radio de borde del thumb */
}



.scrollable-div-2 {
  max-height: 70vh;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollable-div- {
  max-height: 100vh;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollable-div-dark {
  max-height: 70vh;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollable-div-dark::-webkit-scrollbar {
  width: 5px;
  /* Ancho del scroll */
}

.scrollable-div-dark::-webkit-scrollbar-track {
  background-color: #333437;
  /* Color del track */
}

.scrollable-div-dark::-webkit-scrollbar-thumb {
  background-color: #27282c80;
  /* Color del thumb */
  border-radius: 4px;
  /* Radio de borde del thumb */
}

