
@media screen and (max-width: 750px) {
    .wrap-app {
        width:60vh
    }

    .wrap-app_ {
        width:60vh;
    }

    .Taskify {
        font-size: 8em;
        color: pink
    }

    .Quote {
        font-size: 1.2em;
        
    }

    .add-something {
        font-size: 0.8em;
        color: blue;
    }

    .My-something {
        font-size: 1em;
        color: red
    }

    .card-title {
        font-size: 1.1em;
    }

    .card-description {
        font-size: 0.7em;
        display: none;
    }

    .project-title {
        font-size: 1.5em;
    }

    .project-description {
        font-size: 0.9em;
        display: none;
    }

    .input-task-name {
        font-size: 1.5em;
    }

    .blocks {
        height: 20vh;
        aspect-ratio: 1/1;
    }


    .block-shadow {
        display: none;
    }


    .add-project-modal {
        height: auto;
    }

    .block {
        display: none;
    }

    .project-inputs {
        width: 27vh;
    }

    .add-sub-task {
        height: 7vh;
    }

    .trash-button {
        margin-bottom:'1vh'
    }

    .current-project {
        width: 40vh;
    }

    .project-form {
        margin-left: 1vh;
        margin-top: 0vh;
    }
    
    
    

}

@media screen and (max-height: 700px) {
    .wrap-app {
        width:60vh
    }

    .wrap-app_ {
        width:60vh;
    }

    .Taskify {
        font-size: 8em;
        color: pink
    }

    .Quote {
        font-size: 1.2em;
        
    }

    .add-something {
        font-size: 0.8em;
        color: blue;
    }

    .My-something {
        font-size: 1em;
        color: red
    }

    .card-title {
        font-size: 1.1em;
    }

    .card-description {
        font-size: 0.7em;
        display: none;
    }

    .project-title {
        font-size: 1.5em;
    }

    .project-description {
        font-size: 0.9em;
        display: none;
    }

    .input-task-name {
        font-size: 1.5em;
    }

    .blocks {
        height: 20vh;
        aspect-ratio: 1/1;
    }


    .block-shadow {
        display: none;
    }


    .add-project-modal {
        height: auto;
    }

    .block {
        display: none;
    }

    .project-inputs {
        width: 27vh;
    }

    .add-sub-task {
        height: 7vh;
    }

    .trash-button {
        margin-bottom:'1vh'
    }

    .current-project {
        width: 40vh;
    }

    .project-form {
        margin-left: 1vh;
        margin-top: 0vh;
    }
    
    
    

}

@media screen and (min-height: 701px) and (min-width: 751px) {
    .wrap-app {
        width:85vh;
    }
    .wrap-app_ {
        width:85vh;
    }
    .Taskify {
        font-size: 12em;
        color: yellow
    }

    .Quote {
        font-size: 1.5em;
    }

    .add-something {
        font-size: 1.2em;
        color: yellow
    }

    .My-something {
        font-size: 1.5em;
        color: red
    }

    .card-title {
        font-size: 1.5em;
    }

    .card-description {
        font-size: 0.9em;
        display: flex;
    }

    .project-title {
        font-size: 2.2em;
    }

    .project-description {
        font-size: 1.1em;
        display: flex;
    }

    .input-task-name {
        font-size: 2em;
    }

    .blocks {
        height: 18vh;
        aspect-ratio: 1/1;
    }

    .block-shadow {
        display: flex;
    }


    .add-project-modal {
        height: 45vh;
    }

    .block {
        display: none;
    }

    .project-inputs {
        width: 30vh;
    }

    .add-sub-task {
        height: 5vh;
    }

    .trash-button {
        margin-bottom:'0vh'
    }

    .current-project {
        width: 70vh;
    }

    .project-form {
        margin-left: 0vh;
        margin-top: 3vh;
    }
    
}