.avatar-1 {
    background-image: url('../assets/avatars/avatar-1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.avatar-2 {
    background-image: url('../assets/avatars/avatar-2.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.avatar-3 {
    background-image: url('../assets/avatars/avatar-3.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.avatar-4 {
    background-image: url('../assets/avatars/avatar-4.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.avatar-5 {
    background-image: url('../assets/avatars/avatar-5.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.avatar-6 {
    background-image: url('../assets/avatars/avatar-6.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.avatar-7 {
    background-image: url('../assets/avatars/avatar-7.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.avatar-8 {
    background-image: url('../assets/avatars/avatar-8.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.avatar-9 {
    background-image: url('../assets/avatars/avatar-9.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button:hover {
    transform: translateY(-10px);
}

.button-catalog:hover {
    transform: translateY(-5px);
}

.avatar-1.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    background-image: url('../assets/avatars/avatar-1.svg');
    border: 3px solid #f1faee !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    /* border-radius: 50%; */
    /* Ajusta cualquier otro estilo adicional que desees para el botón seleccionado */
}

.avatar-2.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    background-image: url('../assets/avatars/avatar-2.svg');
    border: 3px solid #f1faee !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    /* Ajusta cualquier otro estilo adicional que desees para el botón seleccionado */
}

.avatar-3.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    background-image: url('../assets/avatars/avatar-3.svg');
    border: 3px solid #f1faee !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    /* Ajusta cualquier otro estilo adicional que desees para el botón seleccionado */
}

.avatar-4.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    background-image: url('../assets/avatars/avatar-4.svg');
    border: 3px solid #f1faee !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    /* Ajusta cualquier otro estilo adicional que desees para el botón seleccionado */
}

.avatar-5.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    background-image: url('../assets/avatars/avatar-5.svg');
    border: 3px solid #f1faee !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    /* Ajusta cualquier otro estilo adicional que desees para el botón seleccionado */
}

.avatar-6.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    background-image: url('../assets/avatars/avatar-6.svg');
    border: 3px solid #f1faee !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    /* Ajusta cualquier otro estilo adicional que desees para el botón seleccionado */
}

.avatar-7.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    background-image: url('../assets/avatars/avatar-7.svg');
    border: 3px solid #f1faee !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    /* Ajusta cualquier otro estilo adicional que desees para el botón seleccionado */
}

.avatar-8.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    background-image: url('../assets/avatars/avatar-8.svg');
    border: 3px solid #f1faee !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    /* Ajusta cualquier otro estilo adicional que desees para el botón seleccionado */
}

.avatar-9.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    background-image: url('../assets/avatars/avatar-9.svg');
    border: 3px solid #f1faee !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    /* Ajusta cualquier otro estilo adicional que desees para el botón seleccionado */
}

.add-avatar-button:hover {
    background-color: #f1faee !important;
    transform: translateY(-5px) !important;

}

.delete-button {
    background-image: url('../assets/SVG/delete.svg');
    background-color: transparent !important;
    border: 0px solid #000
        /* Ajusta cualquier otro estilo adicional que desees para el botón seleccionado */
}

.delete-button:hover {
    background-image: url('../assets/SVG/delete.svg');
    background-color: rgba(230, 57, 70, 0.45) !important;
    border: 0px solid #000
        /* Ajusta cualquier otro estilo adicional que desees para el botón seleccionado */
}

.avatar-turn:hover {
    transform: scale(1.1) !important;
}

.menu-turn:hover {
    transform: scale(1.1) !important;
}

.icon-left {
    transform: rotate(180deg) !important;
    /* background-color: #a8dadc !important; */
}

.icon-right {
    transform: rotate(360deg) !important;
    /* background-color: #ed9cab !important; */
}

.icon-right-2 {
    transform: rotate(360deg) !important;
    background-color: #a8dadc !important;
}


.element:hover {

    transform: translateY(-5px) !important;
}

.arrow:hover {
    color: #f0c145 !important;
    transform: rotate(15deg) !important;
}
