.image-1 {
    background-image: url('../assets/tasks-images/task-image-1.svg');
    background-size:auto;
    background-position:center;
    background-repeat: no-repeat;
}

.image-2 {
    background-image: url('../assets/tasks-images/task-image-2.svg');
    background-size:auto;
    background-position:center;
    background-repeat: no-repeat;
}

.image-3 {
    background-image: url('../assets/tasks-images/task-image-3.svg');
    background-size:auto;
    background-position:center;
    background-repeat: no-repeat;
}

.image-4 {
    background-image: url('../assets/tasks-images/task-image-4.svg');
    background-size:auto;
    background-position:center;
    background-repeat: no-repeat;
}

.image-5 {
    background-image: url('../assets/tasks-images/task-image-5.svg');
    background-size:auto;
    background-position:center;
    background-repeat: no-repeat;
}

.image-6 {
    background-image: url('../assets/tasks-images/task-image-6.svg');
    background-size:auto;
    background-position:center;
    background-repeat: no-repeat;
}

.image-7 {
    background-image: url('../assets/tasks-images/task-image-7.svg');
    background-size:auto;
    background-position:center;
    background-repeat: no-repeat;
}

.image-8 {
    background-image: url('../assets/tasks-images/task-image-8.svg');
    background-size:auto;
    background-position:center;
    background-repeat: no-repeat;
}

.image-9 {
    background-image: url('../assets/tasks-images/task-image-9.svg');
    background-size:auto;
    background-position:center;
    background-repeat: no-repeat;
}

.image-10 {
    background-image: url('../assets/tasks-images/task-image-10.svg');
    background-size:auto;
    background-position:center;
    background-repeat: no-repeat;
}

.image-11 {
    background-image: url('../assets/tasks-images/task-image-11.svg');
    background-size:auto;
    background-position:center;
    background-repeat: no-repeat;
}

.image-12 {
    background-image: url('../assets/tasks-images/task-image-12.svg');
    background-size:auto;
    background-position:center;
    background-repeat: no-repeat;
}

.task-image-1 {
    background-image: url('../assets/tasks-images/task-image-1.svg');
    background-size: 30vh;
    background-position:-8vh;
    background-repeat: no-repeat;
}

.task-image-2 {
    background-image: url('../assets/tasks-images/task-image-2.svg');
    background-size: 30vh;
    background-position:2vh;
    background-repeat: no-repeat;
}

.task-image-3 {
    background-image: url('../assets/tasks-images/task-image-3.svg');
    background-size: 30vh;
    background-position:-8vh;
    background-repeat: no-repeat;
}

.task-image-4 {
    background-image: url('../assets/tasks-images/task-image-4.svg');
    background-size: 30vh;
    background-position:2vh;
    background-repeat: no-repeat;
}

.task-image-5 {
    background-image: url('../assets/tasks-images/task-image-5.svg');
    background-size: 30vh;
    background-position:2vh;
    background-repeat: no-repeat;
}

.task-image-6 {
    background-image: url('../assets/tasks-images/task-image-6.svg');
    background-size: 30vh;
    background-position:-8vh;
    background-repeat: no-repeat;
}

.task-image-7 {
    background-image: url('../assets/tasks-images/task-image-7.svg');
    background-size: 30vh;
    background-position:-8vh;
    background-repeat: no-repeat;
}

.task-image-8 {
    background-image: url('../assets/tasks-images/task-image-8.svg');
    background-size: 30vh;
    background-position:2vh;
    background-repeat: no-repeat;
}

.task-image-9 {
    background-image: url('../assets/tasks-images/task-image-9.svg');
    background-size: 30vh;
    background-position:-8vh;
    background-repeat: no-repeat;
}

.task-image-10 {
    background-image: url('../assets/tasks-images/task-image-10.svg');
    background-size: 30vh;
    background-position:2vh;
    background-repeat: no-repeat;
}

.task-image-11 {
    background-image: url('../assets/tasks-images/task-image-11.svg');
    background-size: 30vh;
    background-position:-8vh;
    background-repeat: no-repeat;
}

.task-image-12 {
    background-image: url('../assets/tasks-images/task-image-12.svg');
    background-size: 30vh;
    background-position:2vh;
    background-repeat: no-repeat;
}